weather-app {
  max-width: 600px;
  margin: 0 auto;
  padding: 30px;
  border: 1px solid;
  border: radius 5px;
}

body {
  background-color: grey;
}

container {
  display: ;
}

h1 {
  display: block;
  font-size: 30px;
  color: grey;
  width: 100%;
}

h2 {
  display: centre;
  font-size: 30px;
}
