body {
  margin: 12px;
  font-size: 100%;
  font-family: "Open Sans", sans-serif;
  height: 100px;
  background-color: white;
  background-repeat: no-repeat;
  background-size: 600px;
  padding: 30px;
}

h1 {
  color: white;
  font-size: 30px;
  font-weight: 100px;
  text-align: left;
  line-height: 60.5px;
}
h2 {
  text-align: center;
  font-size: 20px;
  color: white;
  font-weight: 100px;
}

ul {
  margin: 0;
  padding: 0;
}

li {
  font-weight: 100px;
  font-size: 15px;
  list-style-type: none;
  margin: 0;
  padding: 0;
  color: white;
  line-height: 20px;
  text-align: end;
}

li::second-letter {
  text-transform: capitalize;
}

.weather-app-wrapper {
  max-width: 600px;
  margin: 30px auto;
  border-radius: 20px;
}

.weather-app {
  max-width: 600px;
  margin: 30px auto;
  padding: 20px;
  border: 2px solid #885df1;
  border-radius: 10px;
  background: linear-gradient(
    to bottom,
    rgb(127, 133, 243) 0%,
    rgb(130, 179, 208) 100%
  );
}

.container {
  max-width: 600px;
  display: block;
  position: relative;
  margin: ;
}
.overview {
  margin-bottom: 15px;
}

.weather-temperature img {
  margin-right: 10px;
  height: 64px;
  width: 64px;
}

.temperature strong {
  font-size: 50px;
  font-weight: 400;
  line-height: 1;
  width: 50%;
  margin-top: 0.25em;
  color: white;
}

.weather-temperature .units {
  position: relative;
  font-size: 15px;
  top: -5px;
  bottom: 2px;
}

.weather-forecast-date {
  color: white;
  font-size: 15px;
}

.float-left {
  font-size: 20px;
  margin-right: 10px;
  text-align: left;
}

.weather-forecast-temperature-max {
}
.weather-forecast-temperature-min {
}
.gethub-link {
  font-size: 15px;
  color: black;
}
.temperature .active {
  color: #000000;
  cursor: default;
}

.temperature .active:hover {
  text-decoration: none;
}

hr {
  color: #885df1;
}
.w-550 {
  width: 100% !important;
}
